body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.calc-body {
    display: flex;
    flex-wrap: wrap;
    width: 306px ;
    height: 320px;
    gap: 5px;
    background-color: gray;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    width: 70px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px; 
}

.equal {
    width: 70px;
}
.clear {
    width: 295px;
}

.calc-display {
    width: 316px;
}
.calc-text {
    width: 306px;
    height: 45px;
    font-size: 30px;
    color: white;
    background-color: gray;
}

#num {
    color:white;
    background-color: rgb(0 167 0);
    font-size: 30px;
}
#num:hover,#sign:hover,#clear:hover,#point:hover {
    color: black;
    background-color: white;
}

#sign,#clear,#point {
    color: white;
    background-color: #ffba00;
    font-size: 30px;
}
.container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2e372e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}